/* Write your CSS code here */
.user-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  background-color: #ffffff;
  width: 100px;
  margin-top: 31px;
}

.user-name {
  font-family: 'Roboto';
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
  color: #12022f;
  margin-bottom: 8px;
}

.user-designation {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #616e7c;
}
